h1{
    text-align: center;
    font-size: 50px;
    margin-bottom: 100px;
}

form{
    margin-left: 100px;
    margin-bottom: 100px;

}
fieldset{
    display: inline-block;
    border: 2px solid black;
    width: 500px;
}

table {
    margin-left: 250px;
    border: 1px solid black;
}
th{
    padding-left: 20px;
    border: 1px solid black;

}
td{
    padding-left: 20px;
    border: 1px solid black;

}